@charset "utf-8";

html,
body {
	height: 100%;
	background-color:#e5e9ec;
	font-family: 'Exo 2', sans-serif;
	font-size:14px;
	padding-top: 25px;
}

a { color: #7e7117; text-decoration:none;}
a:hover { color:#3d6005;text-decoration:none;}

/* Wrapper for page content to push down footer */


.title_header{
	font-size:20px;
	padding:10px 0px 0px 10px;
}

.report{
	background-color: #CCC;
	border-radius:5px;
	height:100px;
}

.st_padding{
	padding-top:10px;
	padding-bottom:10px;
	}
.title{
	width:440px;
	background-color:#EE1C25 !important;
	border: none !important;
    box-shadow: none !important;
	color:#FFF !important;
	border:none !important;
	font-size:18px;
	font-weight:bold;
}

.long_txt{ width:500px; }

.flot{
	margin: 10px auto;	
    text-align: center;
	position:fixed;	
	right:1;
	float:right;	
}
.bt_width{ width:100%; margin:1px;}

.form_bk{
	background-color:#c8d1d4;
	border-radius:3px;
	}
.tnc_add{
	width:400px;
	float:left;
	}
.form_title{
	font-size:14px;
	}
.tnc_add_form{
	margin:10px 30px;
	font-size:14px;
	color:#FFF;
	}
.tnc_bt{
	margin:10px 15px;
	padding-bottom:10px;
	}
.error_msg{
	color:#FC0;
	}
.tnc_list{
	height:567px;
	width:390px;
	float:right;
	}
.list_mid{
	height:445px;
	}

.img_up_title{
	font-size:18px;
	color:#FFF;
	padding:10px 20px 10px 20px;

	}
.img_up_form{
	margin:10px 30px;
	font-size:14px;
	color:#FFF;
	}
.img_list{
	background-color:#fff;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	min-height:200px;
	padding:10px;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
	
.content1{
	width:250px;
	padding:10px;
	background-image:url(../images/bk_block.png);
	border-radius:5px;
	box-shadow:1px 2px 3px #7abbcf;}
	
.content_statement{
	width:250px;
	padding:10px;
	background-color:#ccdbed;
	border-radius:5px;
	box-shadow:1px 2px 3px #a0a8b1;
	margin-bottom:20px;}
	
.content_info{
	text-align:left;
	width:250px;
	padding:10px 15px;
}

.content3{
	margin-top:20px;
	width:250px;
	padding:10px;
	background-image:url(../images/bk_block.png);
	border-radius:5px;
	box-shadow:1px 2px 3px #7abbcf;}
	
.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
}

.nav_menu {
    background-color:#CCC;
    top: 0px;
    z-index: 1;
}
.navbar {
	margin-bottom:0px !important;
}
.pdf_box{
	width:200px;
	float:left;	
	}
.login{
	background-image:url(../images/login_form.png);
	box-shadow:1px 2px 3px #000000;
	width:60%;
	min-width:850px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	float:left;
	}
.login_tag{
	color:#FFF;
	font-size:50px;
	padding-left:50px;
	height:40px;
	float:left;
	padding-top:80px;
	text-shadow:1px 1px 1px rgba(20,38,21,1);
	}
.nav-tabs{
	margin-bottom:50px !important;
}
.rmPadding{
	padding: 0px;
}