<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>B2B_Nojoom_Newsletter_2018</title>
</head>

<body>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td valign="top"><table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#203139">
        <tbody>
          <tr>
            <td width="30">&nbsp;</td>
            <td><table width="940" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
					<td width="349"></td>
                  <td width="491">&nbsp;</td>
                </tr>
                
                <tr>
                  <td valign="bottom"><span style='font-size:11.5pt;font-family:"Segoe UI",sans-serif;color:#ffffff; font-weight: bold;'>%%date%%</span>
                  <img alt="" border="0" height="70" src="https://ooredoo.s3.amazonaws.com/images/newsletter-tag.jpg" style="display:block;" width="333"/></td>
                  <td align="right" ><img alt="" border="0" height="155" src="https://ooredoo.s3.amazonaws.com/images/Najoom-logo.jpg" width="345"/></td>
                </tr>
                
                <tr>
      <td colspan="3" height="2" style="background-color: red;"></td>
    </tr>
                
                <tr>
                  <td><img alt="" border="0" height="54" src="https://ooredoo.s3.amazonaws.com/images/ooredoo-logo.jpg" style="display:block;" width="214"/></td>
					<td align="right"><span style='font-size:21px;font-family:"Segoe UI",sans-serif;color:#9ca6a8; text-align:right;'>The new rewards programme that gives back</span></td>
                </tr>
              </tbody>
            </table></td>
            <td width="30">&nbsp;</td>
          </tr>
        </tbody>
      </table></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="center">%%offers%%</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    
    <tr>
      <td height="5" style="background-color: #000000;"></td>
    </tr>
    
    <tr>
      <td>&nbsp;</td>
    </tr>
    
    <tr>
      <td><p><a href="https://www.facebook.com/ooredooqatar"><span style='text-decoration:none'><img border=0 id="_x0000_i1045" src="https://ooredoo.s3.amazonaws.com/images/nbnfb.png" style="display: inline-block;"></span></a><a href="https://twitter.com/OoredooQatar/"><span style='text-decoration:none'><img border=0 id="_x0000_i1046" src="https://ooredoo.s3.amazonaws.com/images/nbntw.png" style="display: inline-block;"></span></a><a href="https://www.youtube.com/user/OoredooQatar"><span style='text-decoration:none'><img border=0 id="_x0000_i1047" src="https://ooredoo.s3.amazonaws.com/images/nbnyt.png" style="display: inline-block;"></span></a></p></td>
    </tr>
    
    <tr>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
</body>
</html>
