<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Enterprise Newsletter</title>
<style type="text/css">
/*<![CDATA[*/
  <!--
  .style1 {color: #000000}
  -->
  /*]]>*/
  </style>
</head>
<body>
  <table width="736" border="0" align="center" cellpadding="0" cellspacing="0" id="eng-newsletter" style="font-family:Arial, Helvetica, sans-serif; font-size:10px;">
<tr>
<td bgcolor="#ED1C24"><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/header_111.jpg" alt="ooredoo business" border="0"></td>
    </tr>
<tr>
<td style="background: #ED1C24; color:#fff; font-family: Arial, Helvetica, sans-serif; font-size:10px; text-align: right; text-transform: uppercase; padding:5px;">
      </td>
    </tr>
<tr>
<td height="20"></td>
    </tr>
<tr>
<td>
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td style="color: #ED1C24; font-family: Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; padding:5px 0;"></td>

            <td width="25%" rowspan="2" align="right" valign="middle" style="color: #ED1C24; font-family: Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; padding:5px 0;">
              <img src="https://ooredoo.s3.amazonaws.com/business-news/templates/Enterprisedirectorsnote2.jpg" alt="" width="154" height="231" align="top"><table width="100%" border="0">
<tr>
<td align="left" valign="top" style="color: #5A5758; font-family: Arial, Helvetica, sans-serif; font-size:12px;">
                    <div align="center"></div>
                  </td>
                </tr>
<tr>
<td align="left" valign="top" style="color: #5A5758; font-family: Arial, Helvetica, sans-serif; font-size:12px;">
                    <div align="center">
                      Nasser bin Hamad bin Nasser al-Thani,
                    </div>
                  </td>
                </tr>
<tr>
<td align="left" valign="top" style="color: #5A5758; font-family: Arial, Helvetica, sans-serif; font-size:12px;">
                    <div align="center">
                      Chief Business Officer
                    </div>
                  </td>
                </tr>
</table>
</td>
          </tr>
<tr>
<td width="75%" align="left" valign="top" style="color: #5A5758; font-family: Arial, Helvetica, sans-serif; font-size:12px;">
              <p dir="ltr">Welcome to the latest newsletter from Ooredoo Business!</p>

              <p>
Collaboration is the buzzword in Qatar’s business world. As mobile workforces take off, your business’ digital transformation plan needs to let your employees collaborate and communicate on projects in real-time – from anywhere, any device, any time. 
			  </p>

              <p>
Our Office 365 service and Business Collaboration Solution can deliver unprecedented levels of productivity and business growth.

			  </p>

              <p>
At the same time, as the volume of cyber-attacks and hacking attempts expands exponentially, you need to ensure your business is fully protected from such threats – which is why we’re seeing strong demand for our Advanced Security solutions.
			  
			  </p>

              <p>
Customers also expect to interact in real-time with your business. Using the power of Business SMS, you can target individuals or send out important messages to a wide audience – affordably and ready to scale.
			  
			  </p>
			  
			  <p>
Read more about our solutions below and contact your account manager for more information.			  
			  
			  </p>
<br>
</td>
          </tr>
</table>
</td>
    </tr>
<tr>
<td>
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td colspan="5" headers="337px"><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/ooredoo-news.jpg" alt="ooredoo" >
</td>
          </tr>
<tr>
<td colspan="5" headers="337px"><br></td>
          </tr>
<tr>
<td width="215" valign="top" bgcolor="#E7E8ED" headers="337px">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/EnterpriseNLStory1En005.png" alt="" width="215" height="270"></td>
                </tr>
<tr>
  <td bgcolor="#E7E8ED">
    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
  <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; padding: 10px 0; line-height: 18px;vertical-align:top;" align="left" height="220" valign="top">
    <p dir="ltr">
      </p>
  <div style="min-height:200">
    Communicate and collaborate more effectively and cost-efficiently than ever before, with the Microsoft Office 365 professional suite of email, storage, file sharing and enterprise video conferencing. You also get access through regular updates to the latest version of Microsoft’s work tools, Microsoft Excel, PowerPoint, and Word, with no licence compliance issues to contend with.
    <br>
  </div>
    </td>
    </tr>
  <tr>
  <td align="right">
    <a href="https://www.ooredoo.qa/portal/OoredooQatar/b2b-office365"><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/more.png" alt="" width="43" height="12" border="0"></a>
    </td>
    </tr>
  </table>
  </td>
</tr>
</table>
</td>

            <td width="16"></td>

            <td width="215" valign="top" bgcolor="#E7E8ED" headers="337px">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/EnterpriseNLStory2En005.png" alt="" width="215" height="271"></td>
                </tr>
<tr>
  <td bgcolor="#E7E8ED">
    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
  <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; padding: 10px 0; line-height: 18px;vertical-align:top;" align="left" height="220" valign="top">
    <p dir="ltr">
      </p>
  <div style="min-height:220">
    Cyber-attacks can be the downfall for any enterprise. Predict, prevent, and defeat the increasing and complex cyber-threats before, during, and after they attack. Ooredoo offers the latest firewall, malware protection, and threat intelligent solutions that protect your sensitive customer data.
    
    <br><br>
  </div>
    
    </td>
    </tr>
  <tr>
  <td align="right">
    <a href="https://www.ooredoo.qa/portal/OoredooQatar/b2b-advanced-security"><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/more.png" alt="" width="43" height="12" border="0"></a>
    </td>
    </tr>
  <!-- <tr>
                  <td align="right">&nbsp;</td>
                </tr> -->
  </table>
  </td>
</tr>
</table>
</td>

            <td width="16"></td>

            <td width="215" valign="top" bgcolor="#E7E8ED" headers="337px">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/EnterpriseNLStory3En005.png" alt="" width="215" height="272"></td>
                </tr>
<tr>
  <td bgcolor="#E7E8ED">
    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
  <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; padding: 10px 0; line-height: 18px;vertical-align:top;" align="left" height="220" valign="top">
    <p dir="ltr">
      </p>
  <div style="min-height:220">
    Quickly and easily communicate your promotions, offers, new services, special greetings, notiﬁcations, and important corporate information to individual users or large groups. Personalise your messages, gain real-time reports and analytics and measure effectiveness through our reliable platform. Our Business SMS solution is the simplest and cost-effective way to establish and maintain solid business relationships. 
    
    </div>
    </td>
    </tr>
  <tr>
  <td align="right">
    <a href="https://www.ooredoo.qa/portal/OoredooQatar/b2b-business-sms"><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/more.png" alt="" width="43" height="12" border="0"></a>
    </td>
    </tr>
  </table>
  </td>
</tr>
</table>
</td>
          </tr>
</table>
</td>
    </tr>
<tr>
  <td height="26" align="center" valign="top"><table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="215" valign="top" headers="337px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/gray-bottom.jpg" alt="" width="215" height="26"></td>
        </tr>
        </table></td>
      <td width="16"></td>
      <td width="215" valign="top" headers="337px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/gray-bottom.jpg" alt="" width="215" height="26"></td>
        </tr>
        </table></td>
      <td width="16"></td>
      <td width="215" valign="top" headers="337px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/gray-bottom.jpg" alt="" width="215" height="26"></td>
        </tr>
        </table></td>
    </tr>
  </table></td>
</tr>
<tr>
<td height="26"></td>
    </tr>
<tr>
<td>
        <br><table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/highlight-of-the-month.jpg" alt="ooredoo"></td>

            <td width="45%" rowspan="4" align="right"><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/EnterpriseNLTopStoryEn005.png" alt="" width="283" height="202"></td>
          </tr>
<tr>
<td style="color: #ED1C24; font-family: Arial, Helvetica, sans-serif; font-size:18px; padding:10px 0; font-weight:bold;">Business Collaboration Solution</td>
          </tr>
<tr>
<td height="125" align="left" valign="top" style="color: #5A5758; font-family: Arial, Helvetica, sans-serif; font-size:12px;">
            Our next-generation cloud-based voice and collaboration platform helps to boost your productivity and operational efficiency. Now it includes more value-added services such as Attendant Console, Call Recording, Automatic Call Distribution of incoming calls, Phone Locking, and IP-Fax Server, along with 24/7 customer support. The Business Collaboration Solution can be tailored to meet your business needs, and delivers increased value at an affordable cost.
            </td>
          </tr>
<tr>
<td style="color: #5a5758; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" align="right" valign="top" width="55%">
                    <a href="https://www.ooredoo.qa/portal/OoredooQatar/b2b-cloud-voice">
                      <br><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/more.png" alt="" width="43" height="12" border="0"></a>
					<br><br>
</td>
                </tr>
<tr>
<td colspan="2"></td>
          </tr>
</table>
</td>
    </tr>
<tr>
<td bgcolor="#405567">
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor=""><tr>
<td width="16%" valign="middle" style="padding:5px; font-size:12px; font-weight:bold; color: #fff;">For more
            details</td>

            <td width="5%" valign="middle" style="padding:5px; font-size:12px; color: #fff;"><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/contact-icon.jpg" alt=""></td>

            <td width="35%" valign="middle" style="padding:5px; font-size:12px; color: #fff;">
              <a href="mailto:Enterprise@ooredoo.qa" style="color: #fff; text-decoration: none;">Contact your Ooredoo Account
              Manager</a>
            </td>

            <td width="5%" valign="middle" style="padding:5px; font-size:12px; color: #fff;"><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/phone-icon.jpg" alt="" width="27" height="27"></td>

            <td width="18%" valign="middle" style="padding:5px; font-size:12px; color: #fff;">
              Call us on <a href="callto:8008000" style="color: #fff; text-decoration: none;">800 8000</a>
            </td>

            <td width="5%" valign="middle" style="padding:5px; font-size:12px; color: #fff;"><img src="https://ooredoo.s3.amazonaws.com/business-news/templates/home-icon.jpg" alt=""></td>

            <td width="16%" valign="middle" style="padding:5px; font-size:12px; color: #fff;">
              <a href="https://www.ooredoo.qa/portal/OoredooQatar/bhome?ctype=business" style="color: #fff; text-decoration: none;">Visit ooredoo.qa</a>
            </td>
          </tr></table>
</td>
    </tr>
</table>
<br>
<table id="arb-newsletter" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; margin: 25px auto;" border="0" width="736" cellspacing="0" cellpadding="0" align="center"><!--  <tr>
      <td>
        <p><br />
        <strong>Name Name</strong></p>

        <p>Account Manager</p>
      </td>
    </tr>  --></table>
</body>
</html>

