<!doctype html>
<html>
<head dir="rtl">
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
	<table width="736" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; margin: 25px auto;" id="arb-newsletter">
<tr>
<td bgcolor="#ED1C24"><img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/top.jpg" alt="ooredoo business" border="0"></td>
    </tr>
<tr>
<td style="background: #ED1C24; color:#fff; font-family: Arial, Helvetica, sans-serif; font-size:10px; text-align: right; text-transform: uppercase; padding:5px;">
      </td>
    </tr>
<tr>
<td height="20"></td>
    </tr>
<tr>
<td>
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td align="right" style="color: #ED1C24; font-family: Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; padding:5px 0;">
            تقديم</td>

            <td width="25%" rowspan="2" align="right" valign="top" style="color: #ED1C24; font-family: Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; padding:5px 0;">
              <img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/Enterprisedirectorsnote2.jpg" alt="" width="154" height="231" align="top"><table width="100%" border="0">
<tr>
<td align="left" valign="top" style="color: #5A5758; font-family: Arial, Helvetica, sans-serif; font-size:12px;">
                    <div align="center"></div>
                  </td>
                </tr>
<tr>
<td align="right" valign="top" style="color: #5A5758; font-family: Arial, Helvetica, sans-serif; font-size:12px;">
                    <div align="center">
                              <p dir="rtl">
                                <strong> ناصر بن حمد بن ناصر آل ثاني</strong>
                              </p>
                            </div>
                            <div align="center">
                              <strong>رئيس الأعمال التجارية</strong>
                            </div>
                  </td>
                </tr>
</table>
</td>
          </tr>
<tr>
<td width="75%" align="right" valign="top" style="color: #5A5758; font-family: Arial, Helvetica, sans-serif; font-size:12px;">
              <p dir="rtl" align="right">
أهلاً بك في الإصدار الجديد من Ooredoo للأعمال!

			  <br><br>
تتميز "التشاركية" بصداها الواسع في عالم الشركات والأعمال، فحينما يتنقل الموظفون لإنجاز الأعمال من خارج مكاتبهم، تحتاج خطة التحول الرقمي لشركتك أن تتيح لموظفي شركتك التعاون والتواصل بشكل مباشر وفوري لإتمام المشاريع من أي مكان وفي أي وقت وعبر أي جهاز. 

			  <br><br>
وتساعد مجموعة برامج Office 365 وحلول الأعمال التشاركية التي نوفرها على تحقيق مستويات غير مسبوقة من الإنتاجية ونمو الأعمال. 

			  <br><br>
وفي الوقت الذي يشهد العالم فيه ازدياد عدد الهجمات الإلكترونية ومحاولات القرصنة بشكل ملحوظ، فإنك تحتاج بالتأكيد لضمان حماية أعمال شركتك بشكل كامل من هذه التهديدات، وهو ما يفسر الإقبال الكبير على حلول أمن المعلومات المتطورة التي نوفرها للشركات.

			  <br><br>
وبينما يحتاج عملاؤك إلى التواصل مع شركتك بشكل مباشر. يمكنك الاستفادة من المزايا القوية التي توفرها خدمة الرسائل النصية للشركات، والتي يمكن لك من خلالها توجيه الرسائل للأفراد أو إيصال الرسائل الهامة لأكبر عدد من الشركات بتكلفة مناسبة مع قابلية للترقية.
			  <br><br>
			  وفي حال كان لديك المزيد من الاستفسارات، يمكن الاطلاع على المعلومات الخاصة بحلولنا أدناه والتواصل مع مدير حسابك. 
			  <br></p>
            </td>
          </tr>
</table>
</td>
    </tr>
<tr>
<td>
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td colspan="5" headers="337px">
<img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/Ooredoo-newsAr.png" alt="ooredoo">
</td>
          </tr>
<tr>
<td colspan="5" headers="337px"><br></td>

            <td></td>
          </tr>
<tr>
<td width="215" bgcolor="#E7E8ED" headers="337px">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td><img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/EnterpriseNLStory1Ar005.png" alt="" width="215" height="270"></td>
                </tr>
<tr>
  <td bgcolor="#E7E8ED">
    <table border="0" width="90%" cellspacing="0" cellpadding="0" align="center"><tbody>
  <tr>
  <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 18px;vertical-align:top;" align="right" height="200" valign="top">
    <br><p dir="rtl" style="padding: 0; margin: 0;" align="right">
      </p>
  <div dir="rtl" style="min-height:180" align="right" valign="top">
    
    تواصل وتعاون لإتمام أعمالك بفعالية أكبر وتكلفة أفضل من أي وقت مضى مع باقات Microsoft Office 365 التي توفر لك مساحة تخزين للبريد الإلكتروني، ومزايا مشاركة الملفات، والاجتماعات المرئية. ويمكنك أيضاً الحصول على أحدث إصدار من تطبيقات مايكروسوفت Excel، وPowerPoint و Word دون أي مشاكل متعلقة برخصة الاستخدام. 									</div>
    
    
    </td>
    </tr>
  <tr>
  <td align="right">
    <a href="https://www.ooredoo.qa/portal/OoredooQatar/b2b-office365">
      <img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/MoreAr.png" alt="" width="43" height="12" border="0"></a>
    </td>
    </tr>
  </tbody></table>
  </td>
</tr>
</table>
</td>

            <td width="16"></td>

            <td width="215" bgcolor="#E7E8ED" headers="337px">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td><img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/EnterpriseNLStory2Ar005.png" alt="" width="215" height="270"></td>
                </tr>
<tr>
  <td bgcolor="#E7E8ED">
    <table border="0" width="90%" cellspacing="0" cellpadding="0" align="center"><tbody>
  <tr>
  <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 18px;vertical-align:top;" align="right" height="200" valign="top">
    <br><p dir="rtl" style="padding: 0; margin: 0;" align="right">
      </p>
  <div dir="rtl" style="min-height:180" align="right" valign="top">
    
    يمكن أن تؤدي الهجمات الإلكترونية لأضرار كبيرة لأي مؤسسة أو شركة. لذا توفر Ooredoo للشركات أحدث حلول أمن المعلومات التي تشمل الإصدار الأحدث من برامج الحماية، والحماية ضد البرمجيات الخبيثة، والحلول الذكية لرصد التهديدات وحماية بيانات عملائك. وتتيح لك هذه الحلول إمكانية التنبؤ بالتهديدات الإلكترونية المعقدة  ومنع حدوثها والتغلب عليها، وذلك قبل وأثناء وبعد الهجوم. 									
    
    <br>
  </div>
  </td>
    </tr>
  <tr>
  <td align="right">
    <a href="https://www.ooredoo.qa/portal/OoredooQatar/b2b-advanced-security">
      <img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/MoreAr.png" alt="" width="43" height="12" border="0"></a>
    </td>
    </tr>
  </tbody></table>
  </td>
</tr>
</table>
</td>

          <td width="16"></td>

            <td width="215" bgcolor="#E7E8ED" headers="337px">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td><img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/EnterpriseNLStory3Ar005.png" alt="" width="215" height="270"></td>
                </tr>
<tr>
  <td bgcolor="#E7E8ED">
    <table border="0" width="90%" cellspacing="0" cellpadding="0" align="center"><tbody>
  <tr>
  <td style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 18px;vertical-align:top;" align="right" height="200" valign="top">
    <br><p dir="rtl" style="padding: 0; margin: 0;" align="right">
      </p>
  <div dir="rtl" style="min-height:180" align="right" valign="top">
    
    يمكنك الآن إخبار عملائك بالعروض والخدمات  الجديدة بسرعة وسهولة، أو يكمنك التواصل معهم من خلال إرسال الإشعارات،  والمعلومات الهامة، وذلك لجميع شرائح المستخدمين من الأفراد أو المجموعات الكبيرة. ويمكنك تخصيص رسائلك، والحصول على تقارير وتحليلات فورية وقياس مستويات الفعالية من خلال نظامنا الموثوق للرسائل النصية.  يعد حل الرسائل النصية للشركات من Ooredoo أبسط وسيلة فعالة من حيث التكلفة لإقامة علاقات تجارية متينة والحفاظ عليها. 
    
    <br>
  </div>
  </td>
    </tr>
  <tr>
  <td align="right">
    <a href="https://www.ooredoo.qa/portal/OoredooQatar/b2b-business-sms">
      <img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/MoreAr.png" alt="" width="43" height="12" border="0"></a>
    </td>
    </tr>
  </tbody></table>
  </td>
</tr>
</table>
</td>
          </tr>
</table>
</td>
    </tr>
<tr>
  <td height="26" align="center"><table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="215" valign="top" headers="337px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/gray-bottom.jpg" alt="" width="215" height="26"></td>
        </tr>
      </table></td>
      <td width="16"></td>
      <td width="215" valign="top" headers="337px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/gray-bottom.jpg" alt="" width="215" height="26"></td>
        </tr>
      </table></td>
      <td width="16"></td>
      <td width="215" valign="top" headers="337px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/gray-bottom.jpg" alt="" width="215" height="26"></td>
        </tr>
      </table></td>
    </tr>
  </table></td>
</tr>
<tr>
<td height="26"></td>
    </tr>
<tr>
<td>
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td align="right"><img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/highlight-of-the-month-arb.jpg" alt="ooredoo"></td>

            <td width="45%" rowspan="4" align="right"><img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/EnterpriseNLTopStoryAr005.png" alt="" width="283" height="202"></td>
          </tr>
<tr>
<td align="right" style="color: #ED1C24; font-family: Arial, Helvetica, sans-serif; font-size:18px; padding:10px 0; font-weight:bold;">
            <strong><span dir="rtl">
حلول الأعمال التشاركية 
			</span></strong>
</td>
          </tr>
<tr>
<td height="125" align="right" valign="top" style="color: #5A5758; font-family: Arial, Helvetica, sans-serif; font-size:13px;">
              <p dir="rtl" align="right">
			  
			  إن نظام الخدمات الصوتية والتشاركية من الجيل القادم والمعتمد على تقنية السحابة يساعدك على تعزيز مستويات الإنتاجية وكفاءة الأعمال في شركتك. وتتضمن حلول الأعمال التشاركية الآن المزيد من الخدمات ذات القيمة المضافة مثل لوحة التحكم، وتسجيل المكالمات، وتحويل المكالمات الواردة تلقائياً، وقفل الهاتف، وخوادم الفاكس عبر بروتوكول الإنترنت، مع خدمة الدعم الفني المتوفرة على مدار الساعة. ويمكن تخصيص حلول الأعمال التشاركية لتناسب احتياجات أعمالك وتوفر قيمة معززة بتكلفة معتدلة. 
			  
			  
			  </p>
          
            </td>
          </tr>
<tr>
<td style="color: #5a5758; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" align="right" valign="top" width="55%">
                    <a href="https://www.ooredoo.qa/portal/OoredooQatar/b2b-cloud-voice">
                      <img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/MoreAr.png" alt="" width="43" height="12" border="0"></a>
					<br><br>
</td>
                </tr>
<tr>
<td colspan="2"></td>
          </tr>
</table>
</td>
    </tr>
<tr>
<td>
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#405567"><tr>
<td width="16%" valign="middle" style="padding:5px; font-size:12px; color: #fff;" dir="rtl">
              <a href="https://www.ooredoo.qa/portal/OoredooQatar/bhome?ctype=business" style="color: #fff; text-decoration: none;">قم بزيارة ooredoo.qa</a>
            </td>

            <td width="5%" valign="middle" style="padding:5px; font-size:12px; color: #fff;"><img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/home-icon.jpg" alt=""></td>

            <td width="18%" valign="middle" style="padding: 5px; font-size: 12px; color: #fff;" align="right" dir="rtl">
              اتصل بنا على <a href="callto:8008000" style="color: #fff; text-decoration: none;">800 8000</a>
            </td>

            <td width="5%" valign="middle" style="padding:5px; font-size:12px; color: #fff;"><img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/phone-icon.jpg" alt="" width="27" height="27"></td>

            <td width="10%" valign="middle" style="align:right; padding:5px; font-size:12px; color: #fff;" align="right">
              <a style="color: #fff; text-decoration: none;" href="mailto:Enterprise@ooredoo.qa">تواصل مع مدير حسابك</a>
            </td>

            <td width="5%" valign="middle" style="padding:5px; font-size:12px; color: #fff;" align="left"><img src="https://www.ooredoo.qa/cs/OoredooQatar/Images/contact-icon.jpg" alt=""></td>

            <td style="padding: 5px; font-size: 12px; font-weight: bold; color: #fff;" valign="middle" width="10%" align="right">
            لمعرفة المزيد</td>
          </tr></table>
</td>
    </tr>
</table>
</body>
</html>
