<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td align="center" valign="middle"><table  border=1 cellspacing=0 cellpadding=0 width=600 style='width:6.25in;border:solid #8B0099 1.0pt'>
        <tr>
          <td style='border:none;padding:0in 0in 0in 0in'><table  border=0 cellspacing=0 cellpadding=0 width=600 style='width:6.25in'>
            <tr>
              <td width=22 style='width:16.5pt;padding:0in 0in 0in 0in'></td>
              <td colspan=2 ><p class=MsoNormal align=center style='text-align:center'><img width=128 height=66 src="http://enews.airmilesme.com.s3.amazonaws.com/am/2014/nov/Aimialogo-09.png" alt="">
                
              </p></td>
            </tr>
            <tr>
              <td width=22 style='width:16.5pt;padding:0in 0in 0in 0in'></td>
              <td width="479"><p style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#444444'><br>
                <br>
                Dear %%FULLNAME%%, </p>
                <p style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#444444'>I would like to take this opportunity to invite you to attend The Customer Show Middle East as one of our VIP guests. We are proud to be the platinum sponsor for this conference.</p>
                
                <p style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#444444'>The Customer Show Middle East will take place on<strong> November 15th and 16th</strong> at <strong>The Address Hotel, Dubai Marina</strong> and will bring together modern marketers from some of the region’s largest brands, retailers, hotels, airlines and banks, debating the changing way brands attract, retain and interact with their customers. </p>
                <p style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#444444'>The Customer Show will feature keynote sessions and discussion panels by leading regional and international brands including: </p>
                <ul type="disc" style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#444444'>
                  <li>Aimia </li>
                  <li>Twitter </li>
                  <li>Du </li>
                  <li>Careem</li>
                  <li>Starwood Hotels & Resorts Worldwide Inc </li>
                  <li>Flynas</li>
                </ul>
                <p style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#444444'>This invitation offers you complimentary access to the two-day event and gives you an opportunity to schedule a personal appointment with the Aimia team. For more details, please click <a href="http://terrapinn-cdn.com/conference/middle-east-customer-festival/data/brochure.pdf" target="_blank">here</a> to see the full conference agenda.</p>
                <p style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#444444'>We do hope you will be able to join us and look forward to welcoming you at the event. As space at the Customer Festival is limited, I would appreciate if you could <strong>RSVP</strong> by Thursday <strong>October 30th, 2016</strong>. </p>
                
                <p style='margin-bottom:12.0pt'><span style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#444444'>Kind Regards</span><span style='font-size:10.5pt;font-family:"Arial","sans-serif";color:#6B6B6A'><br>
                  </span><strong><span style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#444444'>Paul Lacey</span></strong><span style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#444444'> <br>
                    Managing Director, Aimia, Middle East.</span>
                  
                </p>
                <table  border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%'>
                  <tr>
                    <td width="24%" style='width:24.0%;padding:0in 0in 0in 0in'></td>
                    <td width="76%" style='width:76.0%;padding:0in 0in 0in 0in'><table  border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%'>
                      <tr>
                        <td width="45%" ><p class=MsoNormal align=right style='text-align:right'><a href="mailto:Events.Me@aimia.com ?subject=The Customer Show Confirmation&amp;body=Yes, I will be attending The Customer Show at the Address Hotel, Dubai Marina on November 15th and 16th, 2016."><span style='text-decoration:none'><img border=0 width=79 height=24 src="http://enews.airmilesme.com.s3.amazonaws.com/am/2014/jun/iftar/Iftar-party-invite-B_06.jpg"></span></a>
                          
                        </p></td>
                        <td width="8%" ></td>
                        <td width="47%" ><p class=MsoNormal><a href="mailto:Events.Me@aimia.com?subject=The Customer Show Confirmation&amp;body=No, I will not be attending The Customer Show at the Address Hotel, Dubai Marina on November 15th and 16th, 2016. "><span style='text-decoration:none'><img border=0 width=79 height=24 src="http://enews.airmilesme.com.s3.amazonaws.com/am/2014/jun/iftar/Iftar-party-invite-B_08.jpg"></span></a>
                          
                        </p></td>
                      </tr>
                      <tr>
                        <td colspan=3 ><p class=MsoNormal align=center style='text-align:center'><br>
                        </p></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              <td align="right" valign="top"><img border=0 width=144 height=353 src="http://enews.airmilesme.com/am/2015/oct/purple_Arrow.jpg" alt="">
                </td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
  </tbody>
</table>
</body>
</html>
